@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin title{
    font-size: 20px;
    font-family: $font_space;
    color:$color_black;
    @include breakpoint(tablet){
        font-size: 30px;
        max-width: 343px;
    }
}

@mixin text{
    font-size: 15px;
    color:$color_gray;
    max-width: 343px;
}