$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$color_gray:#939CAA;
$color_black:#495567;
$color_yellow:#FCB72B;
$color_darkblack:#333A44;
$color_lightgray: #F2F5F9;
$color_lightyellow:#FCB72B26;