main{
    margin-bottom: 100px;
    .intro{
        background:url(../../img/patterns/flecharecta.svg) no-repeat,url(../../img/images/home-hero-mobile.jpg) no-repeat ;
        @include breakpoint(tablet){
            background:url(../../img/patterns/right-arrow.svg) no-repeat,url(../../img/patterns/white-circles.svg) no-repeat ,url(../../img/images/home-hero-tablet.jpg) no-repeat;
            background-size: 50%, 30%,100%;
            background-position: left -20% bottom 5%,left 106% bottom 5%,center;
        } 
        @include breakpoint(desktopxl){
            background:url(../../img/patterns/right-arrow.svg) no-repeat,url(../../img/patterns/white-circles.svg) no-repeat ,url(../../img/patterns/line.svg) no-repeat,url(../../img/images/home-hero-desktop.jpg) no-repeat;
            background-size: 30%, 20%,20%,100%;
            background-position: left 75% bottom 27%,left 106% bottom 25%,left bottom 43%,center;

        }
        background-size: auto, 100%;
        background-position: left bottom 5%,center;
        color:white;
        padding-left: 32px;
        padding-right: 32px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap:24px;
        align-items: center;
        padding-top: 69px;
        padding-bottom: 150px;
        margin-bottom: 120px;
        @include breakpoint(desktopxl){
            justify-content: flex-start;
            align-items: flex-start;


        }
        &__title{
            @include title;
            color:white;
            @include breakpoint(tablet){
                max-width: 400px;
            }@include breakpoint(desktopxl){
                text-align: left;
                margin-left: 107px;
            }

        }
        &__text{
            @include breakpoint(tablet){
                max-width: 600px;
            }
            @include breakpoint(desktopxl){
                text-align: left;
                margin-left: 280px;
                max-width: 450px
            }
        }
        &__button{
            @include button;
            @include breakpoint(desktopxl){
                text-align: left;
                margin-left: 280px;
                max-width: 450px
            }
        }
        h1{
            font-size: 40px;
            font-family: $font_space;
            color:white;
            @include breakpoint(desktopxl){
                font-size: 60px;
                max-width: 700px;
            }
        }
        @include breakpoint(tablet){
            &::after{
                content: url(../../img/patterns/linea.svg);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 67%;
                right: 31%;
                z-index: -1;
            }

        }
        @include breakpoint(desktopxl){
            &::after{
                content: url(../../img/patterns/linea_horizonte.svg);
                position: absolute;
                width: max-content;
                height: max-content;
                top: 95%;
                right: 31%;
                z-index: -1;
            }
        }
        .title{
            @include breakpoint(tablet){
                text-align: left;
            }
        }
    }
    .text{
        background: url(../../img/images/about-hero-mobile.jpg) no-repeat ;
        margin-bottom: 100px;
        padding-bottom: 100px;
        background-size: cover;
        @include breakpoint(tablet){
            background: url(../../img/images/about-hero-tablet.jpg) no-repeat ;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            background-size: cover;
            &::after{
                content: url(../../img/patterns/white-circles.svg);
                position: absolute;
                width: max-content;
                height: max-content;
                top:20%;
                right: -2%;
                z-index: 1;
                
            }
        }
        @include breakpoint(desktopxl){
            background: url(../../img/images/about-hero-desktop.jpg) no-repeat ;
            margin-bottom: 100px;
            padding-bottom: 100px;
            background-size: cover;
        }

        
    }
    .locate{
        display: flex;
        gap: 48px;
        flex-direction: column;
        margin-bottom: 83px;
        @include breakpoint(desktopxl){
            flex-direction: row;
            align-items: center;
            gap:30px;
            justify-content: center;
            margin-bottom: 120px;
        }
        &__container{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &__title{
            @include title;
            @include breakpoint(tablet){
                font-size: 23px
            }
        }
        &__text{
            @include text;
            text-align: center;
            @include breakpoint(tablet){
                text-align: left;
                max-width: 400px;
            }
            @include breakpoint(desktopxl){
                text-align: left;
                max-width: 350px;
            }
        }
        &__main{
            gap:20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            @include breakpoint(tablet){
                flex-direction: row;
                gap:79px;
                text-align: left;
                align-items: flex-start;
            }
            @include breakpoint(desktopxl){
                flex-direction: column;
                gap:20px
            }
            
        }
    }
    .many{
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 48px;
        align-items: center;
        @include breakpoint(tablet){
            &::after{
               content: url(../../img/patterns/circle.svg);
               display: inline-block;
                position: absolute;
                right: -29%; 
                top:-1%;
                width: 40%;
            }
            
        }
        @include breakpoint(desktopxl){
            &::after{
               content: url(../../img/patterns/circle.svg);
               display: inline-block;
                position: absolute;
                right: -34%; 
                top:-1%;
                width: 40%;
            }
            align-items: stretch;
            gap:300px
            
        }

        img{
            border-radius: 50%;
            max-width: 80%;
            @include breakpoint(desktopxl){
                max-width: 40%;
            }
        }
        .section{
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            @include breakpoint(desktopxl){
                flex-direction: row;
                align-items: flex-start;
                text-align: left;
                justify-content: space-around;
            }
        }
        .reverse{
            @include breakpoint(desktopxl){
                flex-direction: row-reverse;
            }
        }
        h2{
            @include title;
            text-align: center;
            @include breakpoint(desktopxl){
                text-align: left;
                font-size: 50px;
                max-width: 500px;
            }
        }
        p{
            text-align: center;
            @include text;
            @include breakpoint(desktopxl){
                text-align: left;
            }
        }
        a{
            @include button;
        }
    }
    .about{
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-bottom: 120px;
        .reverse{
            @include breakpoint(desktopxl){
            flex-direction: row;
            }
        }
        .flecha{
            position: relative;
            &::after{
                content: url(../../img/patterns/right-arrow.svg);
                position: absolute;
                width: 100%;
                height: 100%;
                top: -18px;
                left: -162px;
                z-index: 1;
            }
            @include breakpoint(tablet){
                &::before{
                    content: url(../../img/patterns/circle.svg);
                    display: inline-block;
                     position: absolute;
                     left: -50%; 
                     top:-3%;
                }
            }
            @include breakpoint(desktopxl){
                flex-direction: row-reverse;
                justify-content: space-around;
                &::before{
                    content: url(../../img/patterns/circle.svg);
                    display: inline-block;
                     position: absolute;
                     left: -27%; 
                     top:-3%;
                }
            }
            
            
        }
        .flecha:first-child{
            &::after{
                content: "";
            }
            &::before{
                content: "";
            }
        }
        div{
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            position: relative;
            &::after{
                content: url(../../img/patterns/left-upward-arrow.svg);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 100px;
                left: 33px;
                z-index: 1;
            }
            @include breakpoint(tablet){
                &::before{
                    content: url(../../img/patterns/circle.svg);
                    display: inline-block;
                     position: absolute;
                     right: -49%; 
                     top:-3%;
                }
            }
            
            
            img{
                border-radius: 50%;
                max-width: 80%;
            }
        }
        &__title{
            @include title;
            text-align: center;
            @include breakpoint(desktopxl){
                text-align: left;
                max-width: 500px;
            }
        }
        &__text{
            @include text;
            text-align: center;
            @include breakpoint(desktopxl){
                text-align: left;
                max-width: 500px;
                margin-top: 20px;
            }
        }
    }
    .main__container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .values{
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 120px;
        @include breakpoint(desktopxl){
            flex-direction: row;
            align-items: flex-start;
            text-align: left;
            justify-content: space-around;
        }
        &__title{
            @include title;
            text-align: center;
            font-size: 30px;
            margin: auto;
            margin-bottom: 90px;
        }
        span{
            position: absolute;
            top: 50%;
            background-color: $color_yellow;
            border-radius: 50%;
            font-family: $font_space;
            color:$color_black;
            padding: 24px;
            
        }
        .value{
            display: flex;
            flex-direction: column;
            gap: 27px;
            position: relative;
            align-items: center;
            &__subtitle{
                @include title;
                text-align: center;
                margin-top: 20px;
            }
            &__text{
                @include text;
                text-align: center;
            }
        }
        
        img{
            border-radius: 50%;
            max-width: 80%;
        }
    }
    .faqs{
        font-family: $font_space;
        color: $color_black;
        display: flex;
        flex-direction: column;
        gap: 48px;
        @include breakpoint(tablet){
            align-items: center;
            
        }
        &__title{
            @include title;
            text-align: center;
            font-size: 32px;
            @include breakpoint(tablet){
                font-size: 40px;
            }
        }
        &__subtitle{
            @include title;
            text-align: center;
            font-size: 25px;
            @include breakpoint(desktopxl){
                font-size: 37px;
            }
        }
        &__content{
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            
        }
        .faq{
            display: flex;
            flex-direction: column;
            gap: 24px;
            background-color: $color_lightgray;
            padding: 28px;
            align-items: center;
            &:hover{
                background-color: $color_lightyellow;
            }
            &__question{
                @include title;
                font-size: 20px;
            }
            &__answer{
                @include text;
                @include breakpoint(desktopxl){
                    max-width: 714px;
                }
            }
            @include breakpoint(desktopxl){
                width: 850px;
            }
        }

    }
    .photo{
        background: url(../../img/images/careers-location-hero-mobile.jpg) no-repeat;
        margin-bottom: 50px;
        padding-bottom: 100px;
        background-size: cover;
        @include breakpoint(tablet){
            background: url(../../img/images/careers-locations-hero-tablet.jpg) no-repeat center;
        }
        @include breakpoint(desktopxl){
            background: url(../../img/images/careers-locations-hero-desktop.jpg) no-repeat center;
            margin-bottom: 100px;
            padding-bottom: 100px;
            background-size: cover;
        }
    }
    .careers{
        padding-left: 32px;
        padding-right: 32px;
        &__main{
            display: flex;
            flex-direction: column;
            gap: 48px;
            align-items: center;
            margin-bottom: 120px;
        }
        img{
            border-radius: 50%;
            max-width: 80%;
        }
        &__container{
            display: flex;
            flex-direction: column;
            gap: 38px;
            align-items: center;
            margin-bottom: 120px;
            position: relative;
            &::after{
                content: url(../../img/patterns/left-downward-arrow.svg);
                position: absolute;
                width: 100%;
                height: max-content;
                top: 100px;
                left: 11px;
                z-index: 1;
                @include breakpoint(tablet){
                    top: 283px;
                    left: 11px;
                }
                @include breakpoint(desktopxl){
                    top: 283px;
                    right: -648px;
                    left: auto;
                }
            }
            @include breakpoint(tablet){
                &::before{
                    content: url(../../img/patterns/circle.svg);
                    display: inline-block;
                     position: absolute;
                     right: -50%; 
                     top:-3%;
                }
            }
            @include breakpoint(desktopxl){
                flex-direction: row-reverse;
                align-items: center;

                justify-content: space-around;
                &::before{
                    content: url(../../img/patterns/circle.svg);
                    display: inline-block;
                     position: absolute;
                     right: -27%; 
                     top:-3%;
                }
            }
            
            h2{
                @include title;
                text-align: center;
                @include breakpoint(desktopxl){
                    text-align: left;
                    max-width: 500px;
                    font-size: 48px;
                }
            }
            p{
                @include text;
                text-align: center;
                @include breakpoint(desktopxl){
                    text-align: left;
                    max-width: 432px;
                    font-size: 15px;
                }
            }
            a{
                @include button;
            }
        }
        h3{
            @include title;
            text-align: center;
            font-size: 30px;
        }
    }
    .job{
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;
        margin-bottom: 120px;
        ul{
            display: flex;
            flex-direction: column;
            gap: 27px;
            align-items: center;
            @include breakpoint(tablet){
                width: 100%;
            }
            li{
                display: flex;
                flex-direction: column;
                gap: 14px;
                align-items: center;
                background-color: $color_lightgray;
                width: 100%;
                padding: 28px;
                @include breakpoint(tablet){
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                }
                h4{
                    @include title;
                    text-align: center;
                    font-size: 15px;
                    @include breakpoint(tablet){
                        text-align: left;
                    }
                }
                p{
                    @include text;
                    text-align: center;
                    @include breakpoint(tablet){
                        text-align: left;
                    }
                }
                .job-opportunities__links{
                    @include button;
                    width: 250px;
                    display: inline-block;
                    text-align: center;
                }
            }
        }
    }
    #map{
        margin-bottom: 40px;
        @include breakpoint(tablet){
            margin-bottom: 80px;
        }
        @include breakpoint(desktopxl){
            margin-bottom: 120px;
            width: 80%;
            margin-left: 118px;
        }
    }
    .city-list{
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: center;
        list-style: none;
        margin-bottom: 60px;
        @include breakpoint(tablet){
           display: none;
        }
        li{
            background-color: $color_lightyellow;
            padding: 22px 100px;
            width: 311px;
            text-align: center;
        }
    }
    .locations{
        h2{
            @include title;
            text-align: center;
            font-size: 30px;

        }
    }
    .location__content{
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        h2{
            @include title;
            text-align: center;
            font-size: 30px;
            @include breakpoint(desktopxl){
                text-align: left;
                max-width: 500px;
                font-size: 48px;
            }
        }
        p{
            @include text;
            text-align: center;
            @include breakpoint(desktopxl){
                text-align: left;
                max-width: 432px;
                font-size: 15px;
            }
        }
        a{
            @include button;
        }
        @include breakpoint(desktopxl){
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            text-align: left;
            
        }
        
    }
    .telemetry{
        position: relative;
        &::after{
            content: url(../../img/patterns/left-downward-arrow.svg);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 145px;
            left: 34px;
            z-index: 1;
        }
        @include breakpoint(desktopxl){
            &::after{
                content: url(../../img/patterns/left-downward-arrow.svg);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 281px;
                left: 635px;
                z-index: 1;
            }
        }
    }
    .payments{
        position: relative;
        &::after{
            content: url(../../img/patterns/left-downward-arrow.svg);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 21px;
            right: -145px;
            z-index: 1;
        }
        @include breakpoint(desktopxl){
            &::after{
                content: url(../../img/patterns/left-downward-arrow.svg);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 63px;
                right: -1118px;
                z-index: 1;
            }
        }
        @include breakpoint(tablet){
            &::before{
                content: url(../../img/patterns/circle.svg);
                display: inline-block;
                 position: absolute;
                 right: -108%; 
                 top:-3%;
            }
        }
        @include breakpoint(desktopxl){
            &::before{
                content: url(../../img/patterns/circle.svg);
                display: inline-block;
                 position: absolute;
                 right: -25%; 
                 top:-3%;
            }
        }
        
    }
    .cities{
        position: relative;
        @include breakpoint(tablet){
            &::before{
                content: url(../../img/patterns/circle.svg);
                display: inline-block;
                 position: absolute;
                 left: -108%; 
                 top:-3%;
            }
        }
        @include breakpoint(desktopxl){
            &::before{
                content: url(../../img/patterns/circle.svg);
                display: inline-block;
                 position: absolute;
                 left: -26%; 
                 top:-3%;
            }
        }
        
        &::after{
            content: url(../../img/patterns/right-arrow.svg);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 34px;
            right: 179px;
            z-index: 1;
        }
    }
    .flex{
        display: flex;
        flex-direction: column;
        gap: 28px;
        text-align: left;
        align-items: center;
        
    }
    #vuelta{
        @include breakpoint(desktopxl){
            flex-direction: row;
        }
    }
    .colum{
        @include breakpoint(desktopxl){
            flex-direction: row;
            justify-content: start;
            align-items: flex-start;
            gap:80px
        }
    }
    #flecha{

            &::after{
                content: url(../../img/patterns/left-upward-arrow.svg);
                position: absolute;
                width: max-content;
                height: max-content;
                top: 110px;
                right: -461px;
                z-index: 1;
                @include breakpoint(tablet){
                    top: 276px;
                    right: -71px;
                }
            }
            @include breakpoint(desktopxl){
                &::before{
                    content: url(../../img/patterns/circle.svg);
                    display: inline-block;
                     position: absolute;
                     right: -27%; 
                     top:-3%;
                }
            }
        
    }
}
